.polygon__Container{
    display: flex;
    justify-content: center;
    align-items: center;

}
.polygon__Container img{
    width: 20px;
height: 20px;

}
.polygon{
    position: relative;
}
 .polygon__Container-imgone{
    position: absolute;
    left: 60%;
 }
 .polygon__Container-imgtwo{
    position: absolute;
    right: 60%;
 }
 